body, html {
  height: 100%;
}

.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */
.site-header {
  background-color: #15a4e6;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #fff;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: black;
  text-decoration: none;
}

/*
 * Extra utilities
 */
.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

.content {
  margin: 0 !important;
  padding: 0 !important;
  height: 36rem;
}

.container-about {
  padding: 6%;
  padding-top: 0;
}

.photo {
  height: 80%;
  width: 80%;
}

.ab-content {
  margin-top: 2%;
}

.lead {
  font-size: 1.65rem;
}

.container-about a {
  font-size: 1.25rem;
}

.f-show {
  padding-bottom: 3%;
}

.f-imgs {
  height: 80%;
  width: 80%;
}

.s-imgs {
  height: 60%;
  width: 22% !important;
  padding-top: 2.5%;
}

.s-show {
  padding-bottom: 5%;
}